{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1>Cart</h1>
    <h1>{{ message }}</h1>
    <table class="container">
        <thead>
            <tr>
                <th>#</th>
                <th>Item</th>
                <th>Price</th>
                <th>Subtotal</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for prod in cart.product.all %}
            <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ prod.title }}</td>
                    <td>{{ prod.price }}</td>
            </tr>
            {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ cart.cart_total_products }}</td>
            <td>{{ cart.cart_total }}</td>
        </tr>
        </tbody>
    </table>

{% endblock %}