{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1>Cart</h1>
    <h1>{{ message }}</h1>
    <table class="container">
    <thead>
        <tr>
            <th>#</th>
            <th>Item</th>
            <th>Price</th>
            <th>Subtotal</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {% for cart in form %}
            {% for prod in cart.product.all %}
                <tr>
                    <td>{{ prod.id }}</td>
                    <td>{{ prod.title }}</td>
                    <td>{{ prod.price }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
    </table>

{% endblock %}