* {
    margin:0;
    padding: 0;
    border: 1px;
    box-sizing: border-box;
    border: 1px solid palegreen;
}
body{
    background-color: gold;
    box-sizing: border-box;
    /* border: 1px solid red; */
    width: 69%;
    margin-left: 14%;
    /* height: 1390px; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}
/* body>section:nth-child(-n+2)>section{
    display: flex;
} */
/* .cls-body{
    box-sizing: border-box;
    height: 10%;
} */
/* body section:first-child>section{
    display: flex;
    flex-direction: column;
} */
/* body>section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} */