.cls-navbar {
    /* position: absolute; */
    top: 5%;
    right: 20%;
    box-sizing: border-box;
    border: 1px solid gray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* flex:1; */
}
.cls-navbar li{
    list-style-type: none;
}
.cls-navbar a{
    /* flex:1; */
    /* margin: 0; */
    padding: 10px;
    display: flex;
}

.cls-header{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2%;
}