.d-block{
    display: block;
}
.cls-footer-container{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    /* border: 2px solid seagreen; */
    position: relative;
    margin-top: 93%;
    /* width: 61%;
    margin-left: 17%; */
    height: 100%;
    gap: 28px;
    text-align: center;
    padding: 5px 73px 0px 66px;
    flex-flow: row wrap;
}
.cls-footer-container section{
    flex:1;
}
.cls-sns img{
    width: 16px;
}
.cls-footer-container section:nth-child(3){
    justify-items: space-around;
}