.cls-footer{
    box-sizing: border-box;
    border: 10px solid #000;
    position: relative;
    margin-top: 45%;
    padding-bottom: 5%;
    padding-top: 2%;
}

.cls-footer div{
 display: flex;
 justify-content: space-around;
 
}

.cls-footer div section ul li{
    list-style-type: none;
   }

.cls-footer div section ul li a{
    text-decoration: none;
}
.cls-footer .cls-action{
    display: flex;
    flex-direction: column;
}

.cls-footer .cls-action .cls-sns ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.cls-footer .cls-action .cls-sns ul > li{
    padding-inline: 2px;
    
}
