.cls-main{
    height: 700px;
    /* display: flex;
    flex-direction: column; */
    /* align-items: flex-end; */
}
.cls-main section ul{
    list-style: none;
     margin: 0;
     padding: 0;
     position: relative;
}

.cls-main section ul li{
    position: absolute;
     margin-top: 3%;
}

.cls-main img{
    border: 1px solid #000;
    border-radius: 3px;
    box-shadow: 0 0 5px 0 hsla(0,0%,30%, .3);
    width: 100%;
  }

  .cls-main li:nth-child(2) {
    animation-name: xfade;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-delay: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    /* animation: xfade 1s ease-in-out 10s infinite alternate; */
  }
  .cls-main li:nth-child(1) {
    animation-name: xfade1;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-delay: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    /* animation: xfade 1s ease-in-out 10s infinite alternate; */
  }
  @keyframes xfade{
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
}
@keyframes xfade1{
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}

.cls-body{
  
}

.cls-slides{
  height: 100%;
}
.cls-cards-base{
  height: 100%;
}