.cls-navbar li{
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: inline;
    
}
.cls-navbar {
    position: absolute;
    top: 5%;
    right: 20%;
    box-sizing: border-box;
    /* border: 1px solid gray; */
    
}