{% extends "base.html" %}
{% load static %}
{% include "js.html" %}

{% block content %}
<section class="cls-product-container">
    <h1>Products</h1>
    <h1>{{ message }}</h1>
    <ul class="cls-product">
        {% for product in products %}
        <li class="cls-product-items">
            <a href="{% url 'product:update' product.id %}">Update Product</a>
            <a href="{% url 'product:delete' product.id %}">Delete Product</a>
            <p>{{ product.title }}</p>
            <p>{{ product.price }}</p>
            <a href="">
                <img src="{% get_media_prefix %}{{product.image}}"/>
            </a>
            <section>
                {% include "cart/add_to_cart.html" with product_id=product.id %}
                {% include "cart/remove_from_cart.html" with product_id=product.id %}
            </section>
        </li>
        {% endfor %}
    </ul>
</section>

{% endblock %}