{% extends "base.html" %}
{% load static %}
{% include "js.html" %}

{% block content %}
<section class="cls-product-container">
    <h3>All Products</h3>
    <p>{{ message }}</p>
    <a href="{% url 'product:create' %}">Create Product</a>
    {% if products %}
    <ul class="cls-product">
        {% for product in products %}
        <li class="cls-product-items">
            <a href="{% url 'product:per_category_product_detail' product.category1 product.category2 product.id %}">
                <a href="{% url 'product:per_category_product_detail' product.category1 product.category2 product.id %}">
                    <img src="{% get_media_prefix %}{{product.image}}"/>
                </a>
                <p>{{ product.title }}</p>
                <p>{{ product.price }}</p>
                <section>
                    {% include "order/cart/add_to_cart.html" with product_id=product.id %}
                </section>
            </a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</section>

{% endblock %}