{% extends 'base.html' %}

{% block content %}
  <div id="container" style="width: 55%;">
    <canvas id="line-chart"></canvas>
  </div>
  <script>

    var config = {
                type: 'line',
                data: {
                        labels: {{ labels|safe }},
                            
                        datasets: [{
                                        data: {{ data|safe }},
                                        fill: false,
                                        borderColor: 'rgb(75, 192, 192)',
                                        tension: 0.1,
                                        label: 'Sales'
                                    }],
                        },
                        options: {
                            responsive: true
                        }
                };

    window.onload = function() {
      var ctx = document.getElementById('line-chart').getContext('2d');
      window.myPie = new Chart(ctx, config);
    };

  </script>

{% endblock %}