{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <h3>Order</h3>
    <p>{{ message }}</p>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Item title</th>
                <th scope="col">Item Category1</th>
                <th scope="col">Item Category2</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total Item Price</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for order_item in orders.items.all %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td style="text-align: center;">{{ order_item.product.title }}</td>
                <td style="text-align: center;">{{ order_item.product.category1 }}</td>
                <td style="text-align: center;">{{ order_item.product.category2 }}</td>
                <td style="text-align: center;">{{ order_item.product.price }}</td>
                <td style="text-align: center;">
                    {{ order_item.quantity }}
                </td>
                <td style="text-align: center;">
                    INR: {{ order_item.get_total_item_price }}
                </td>
                <td style="text-align: center;">
                    <a href="{% url 'order:update_cart_item' order_item.id %}">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a style='color: red;' href="{% url 'order:delete_from_cart' order_item.id %}">
                        <i class="fas fa-trash float-right"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
            {% if orders.items.all %}
            <tr>
                <td colspan="6"><b>Order Discount {{ orders.discount }}%</b></td>
                <td style="text-align: center;">
                    {% include "order/discount.html" with order_id=orders.id %}
                </td>
                <td style="text-align: center;">
                    {% include "order/reset_discount.html" with order_id=orders.id %}
                </td>
            </tr>
            {% endif %}
            {% if orders.get_total %}
            <tr>
                <td colspan="6"><b>Order Total</b></td>
                <td style="text-align: center;"><b>INR: {{ orders.get_total }}</b></td>
            </tr>
            <tr>
                <td>
                    <a class='btn btn-primary float-right' href='{% url "product:details" %}'>Continue shopping</a>
                </td>
                <td>
                    <a class='btn btn-warning float-right ml-2' href='{% url "order:submit_order" orders.id %}'>Proceed to checkout</a>
                </td>
            </tr>
            {% endif %}
            </tbody>
        </table>
    {% if not orders or not orders.items.all %}
        <p>No products added yet.</p>
        <a class='btn btn-primary float-right' href='{% url "product:details" %}'>Continue shopping</a>
    {% endif %}
    </form>

{% endblock %}