{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <h3>Order</h3>
    <p>{{ message }}</p>
    {% if orders %}
    <ul class="cls-product">
        {% for order_item in orders.items.all %}
            <ul>
                <br/>
            <li><p> Product Name: {{ order_item.product.title }}</p></li>
            <li><p> Product category1: {{ order_item.product.category1 }}</p></li>
            <li><p> Product category2: {{ order_item.product.category2 }}</p></li>
            <li><p> Product price:  {{ order_item.product.price }}</p></li>
            <li><p> Product quantity:  {{ order_item.quantity }}</p></li>
            </ul>
        {% endfor %}
        <br/>
        <ul>
            <li><p> Delivery Address: {{ orders.delivery_address }}</p></li>
            <li><p> Total Amount: {{ orders.get_total }}</p></li>
        </ul>
    </ul>
    {% endif %}
    {% if not orders %}
        <p>No products added yet.</p>
    {% endif %}
    </form>

{% endblock %}