{% load static %}

<section class="cls-cards-container">
    <a href="/#">
    <img src="static/img/house_cleaning.svg" alt="washing" />
    
    <div class="cls-cards-data">
        <h4><b>House cleaning</b></h4>
        <p>This is house cleaning</p>
    </div>
    </a>
</section>
<section class="cls-cards-container">
    <a href="/#">
    <img src="static/img/office.svg" alt="washing" />
    
    <div class="cls-cards-data">
        <h4><b>Office cleaning</b></h4>
        <p>This is Office cleaning</p>
    </div>
</a>
</section>
<section class="cls-cards-container">
    <a href="/#">
    <img src="static/img/img_avatar2.png" alt="washing" />
    
    <div class="cls-cards-data">
        <h4><b>Party cleaning</b></h4>
        <p>This is Party cleaning</p>
    </div>
    </a>
</section>
