{% load static %}
<div class="cls-content">
    <section>
        <section class="cls-data">
            <h1>Our Process</h1>
            <p>
                We take cleaning seriously. That’s why all of our services are performed in-house. We hire all of our
                cleaning professionals as employees and work with them to develop a process you can trust. We put our name
                behind everything we do and take pride in it. Let us show you how we do it below.
            </p>
        </section>
        <section class="cls-img">
            <img src="/static/img/process-3.jpg"/>
        </section>
    </section>
    <section>
        <section class="cls-data">
            <h1>Clothing Care</h1>
            <p>
                Your clothing deserves the best – that’s why we process all of our customers’ dry-cleaning and laundry at one of our production facilities that we run and operate. Cleaning is our core competency, and that’s way too important to outsource.
            </p>
        </section>
        <section class="cls-img">
            <img src="/static/img/clothing-care.svg"/>
        </section>
    </section>
    <section>
        <section class="cls-data">
            <h1>Home Cleaning</h1>
            <p>
                ByNext is a leading provider of expert home cleaning services you can trust. Our cleaning professionals are trained, bring their own supplies (unless you prefer they use your supplies), and ensure that every home they work on is treated like their own.
            </p>
        </section>
        <section class="cls-img">
            <img src="/static/img/home-cleaning.svg"/>
        </section>
    </section>
</div>