{% load static %}
<div>
  <div>
    <label>Pro cleaners</label>
    <ul id="horizontal-list">
      <li>© Pro Cleankers 2020 Allright Reserved</li>
      <li>Phone +91987654321</li>
      <li>Email abc@gmail.com</li>
    </ul>
  </div>
  <br/><br/>
  <div class="quick-links">
    <label>Quick Links</label>
    <ul >
      <li><a href="">About Us</a></li>
      <li><a href="">Ousr Services</a></li>
      <li><a href="">How It works</a></li>
      <li><a href="">Blogs and News</a></li>
      <li><a href="">Contact Us</a></li>
      <li><a href="">FAQ</a></li>
    </ul>
  </div>
  <br/><br/>
  <div class="quick-links">
    <label>Our Services</label>
    <ul >
      <li><a href="">House Cleaning</a></li>
      <li><a href="">Office cleaning</a></li>
      <li><a href="">Afer party cleaning</a></li>
      <li><a href="">Move In/ Out cleaning</a></li>
      <li><a href="">Window cleaning</a></li>
      <li><a href="">Carpet cleaning</a></li>
    </ul>
  </div>
  <br/><br/>
  <div>
    <ul id="horizontal-list">
      <li><a href="">Order Now</a></li>
      <li><a href="">Join Us</a></li>
      <li><a href="">News Letter</a></li>
    </ul>
    <ul id="horizontal-list">
      <li><a href="">Facebook</a></li>
      <li><a href="">Twitter</a></li>
      <li><a href="">LinkedIn</a></li>
      <li><a href="">Google+</a></li>
    </ul>
  </div>
</div>

