{% load static %}

<section class="cls-footer-container">
  <section>
    <a class="d-block" href="#" >
      <img src="/static/img/logo-white.svg"/>
    </a>
    <span>All rights reserved 2021</span>
  </section>
  <section>
    <a class="d-block" href="#" >Services</a>
    <a class="d-block" href="#" >Locations</a>
    <a class="d-block" href="#" >Pricing</a>
    <a class="d-block" href="#" >Our Process</a>
    <a class="d-block" href="#" >Reserve Membership</a>
  </section>
  <section>
    <a class="d-block" href="#" >Blog</a>
    <a class="d-block" href="#" >Gift Cards</a>
    <a class="d-block" href="#" >Partnership</a>
    <a class="d-block" href="#" >Affiliate Program</a>
    
  </section>
  <section>
    <a class="d-block" href="#" >About Us</a>
    <a class="d-block" href="#" >Help</a>
    <a class="d-block" href="#" >Privacy Policy</a>
    <a class="d-block" href="#" >Terms & Conditions</a>
    <a class="d-block" href="#" >Health & Safety Guidelines</a>
  </section>
  <section>
    <a class="d-block" href="#" >Facebook</a>
    <a class="d-block" href="#" >Instagram</a>
    <a class="d-block" href="#" >LinkedIn</a>
    <a class="d-block" href="#" >Twitter</a>
    <a class="d-block" href="#" >Google Play Store</a>
  </section>
</section>
