{% load static %}

<section class="cls-footer-container">
  <section>
    <a class="d-block" href="#" >
      <img src="/static/img/logo-white.svg"/>
    </a>
    <span>All rights reserved 2021</span>
  </section>
  <section>
    <a class="d-block" href="#" >Services</a>
    <a class="d-block" href="#" >Locations</a>
    <a class="d-block" href="#" >Pricing</a>
    <a class="d-block" href="#" >Our Process</a>
    <a class="d-block" href="#" >Reserve Membership</a>
  </section>
  <section>
    <a class="d-block" href="#" >Blog</a>
    <a class="d-block" href="#" >Gift Cards</a>
    <a class="d-block" href="#" >Partnership</a>
    <a class="d-block" href="#" >Affiliate Program</a>
    
  </section>
  <section>
    <a class="d-block" href="#" >About Us</a>
    <a class="d-block" href="#" >Help</a>
    <a class="d-block" href="#" >Privacy Policy</a>
    <a class="d-block" href="#" >Terms & Conditions</a>
    <a class="d-block" href="#" >Health & Safety Guidelines</a>
  </section>
  <section class="cls-sns">
    <a class="d-block" href="#" >
      <img src="/static/img/iconfinder_2553040_facebook_fb_feed_logo_media_icon.svg"
      alt="facebook"
      />
    </a>
    <a class="d-block" href="#" >
      <img src="/static/img/iconfinder_2553043_feed_instagram_media_photo_picture_icon.svg"
      alt="instagram"
      />
    </a>
    <a class="d-block" href="#" >
      <img src="/static/img/iconfinder_2553049_feed_media_news_sns_social_icon.svg"
        alt="Twitter"
      />
    </a>
    <a class="d-block" href="#" >
      <img src="/static/img/iconfinder_2553057_chat_feed_media_news_sns_icon.svg"
        alt="Whatsapp"
      />
    </a>
    <a class="d-block" href="#" >
      <img src="/static/img/icons8-google-play.svg"
        alt="playstore"
      />
    </a>
  </section>
</section>
