{% load static %}
<!-- {% block content %}
{% endblock %} -->
<section class="cls-body">
    <!-- <input type="button" value="next"/> -->
    <div class="cls-slides">
        <ul>
            <li><img src="static/img/img1.jpg"/></li>
            <li><img src="static/img/img2.jpg"/></li>
        </ul>
    </div>
    <section class="cls-cards-header">
        <p>............OUR BEST SERVICES............</p>
        <h1>Our Best Services For You</h1>
    </section>
    <section class="cls-cards-base">
        {% include 'cards.html' %}
    </section>
</section>

    <!-- <section class="cls-data">
        <ul>
            <li>Trusted</li>
            <li>Simple</li>
            <li>Affordable</li>
        </ul>
        <p>30+ years of experience in cleaning service</p>
        <p>Lorem Ipsum blah blah</p>
        <div>
            <input type="button" value="Order Now"/>
            <input type="button" value="Our services"/>
        </div>
    </section>
    
    <input type="button" value="next"/> -->
