{% load static %}
<section class="cls-header">
    <a href="/" class="cls-logo">
    <img src="/static/img/logo-purple.svg" alt="washing" />
    </a>
  <ul class="cls-navbar">
    <li>
      <a href='/' >Home</a>
    </li>
    
    {% if not user.is_authenticated %}
    <li >
      <a href='/account/login/' >Login</a>
    </li>
    <li >
      <a href='/account/signup/' >Register</a>
    </li>
    <li >
      <a href='/admin' >Admin Login</a>
    </li>
    {% endif %}
    {% if user.is_authenticated %}
    <li >
      <a href="/product">Product</a>
    </li>
    <!-- <li >
      <a href='/services' >Services</a>
    </li> -->
    <!-- <li >
      <a href='/cart/' >Cart</a>
    </li> -->
    <li >
      <a href='/order/' >Cart</a>
    </li>
    <li >
      <a href='/account/profile/' >Profile</a>
    </li>
    <li >
      <a href='/account/logout/' >Logout</a>
    </li>
    
    {% endif %}
    
  </ul>
</section>


