<header >
  <nav>
    <div >
      <a  href="#">Inventory</a>
      <div>
        <ul >
          <li >
            <a href='/' >Home</a>
          </li>
          <li >
            <a href='#' >About</a>
          </li>
          <li >
            <a href='#' >Services</a>
          </li>
          <li >
            <a href='#' >Blog</a>
          </li>
          <li >
            <a href='#' >Shop</a>
          </li>
          <li >
            <a href='#' >Career</a>
          </li>
          <li >
            <a href='#' >Order Now</a>
          </li>
          <li >
            <a href='#' >Call us at +919686953972</a>
          </li>
        </ul>
      </div>
  </div>
  </nav>
</header>