
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
  {% include "js.html" %}
    <h1>Profile</h1>
    <h1>{{ message }}</h1>
    {% if user %}
      {{ user.username}}
      {{ user.email}}
      <a href="/address/create/" >Create address</a>
      {{ user.phone_number}}
    {% endif %}
    <ul>
      {% if addresses %}
      {% for address in addresses %}
        <li>{{ address.id }}
          <a href="/address/delete/{{ address.id }}">Delete address</a>
        </li>
        <li>{{ address.name }}</li>
        <li>{{ address.nickname }}</li>
        <li>{{ address.address_type }}</li>
        <li>{{ address.address_line_1 }}</li>
        <li>{{ address.address_line_2 }}</li>
        <li>{{ address.city }}</li>
        <li>{{ address.state }}</li>
        <li>{{ address.country }}</li>
        <li>{{ address.postal_code }}</li>
      {% endfor %}
    {% endif %}
    </ul>
    

{% endblock %}