{% extends "base.html" %}
{% load static %}
{% include "js.html" %}

{% block content %}
<section class="cls-product-container">
    <h3>Services</h3>
    
    <p>{{ message }}</p>
    
    <a href="{% url 'services:create' %}">Create Services</a>
    {% if services %}
    <ul class="cls-product">
        {% for item in services %}
        <li class="cls-product-items">
            <a href="{{ item.id }}">
                <img src="{% get_media_prefix %}{{item.image}}"/>
            </a>
            <p>{{ item.title }}</p>
            <p>{{ item.price }}</p>
            <section>
                {% include "cart/add_to_cart.html" with product_id=item.id %}
                <!-- {% include "cart/remove_from_cart.html" with product_id=product.id %} -->
            </section>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</section>

{% endblock %}